body{

font-family:Arial;
background:#f2f2f2;
margin:0;
padding:10px;

}

.container{

max-width:500px;
margin:auto;

background:white;

padding:20px;

border-radius:10px;

}

input,select,button{

width:100%;

padding:12px;

margin-top:10px;

box-sizing:border-box;

}

button{

cursor:pointer;

}

.info{

background:#eee;

padding:10px;

margin-bottom:15px;

}

#produk{

margin-top:15px;

font-weight:bold;

}

#history{

border-top:1px solid #ccc;

margin-top:20px;

padding-top:10px;

}
